{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Tenant Home</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	  <link rel="icon" type="text/css" href="{% static 'images/icon.ico' %}">
	</head>
	<nav class="navbar navbar-expand-md navbar-dark" style="background-color: rgba(0,0,0,0.5);">
	  <a class="navbar-brand" href="{% url 'home' %}">
	  	<img class="zoom color"src="{% static 'images/icon512.png' %}" width="50" height="50" alt="" loading="lazy">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="">{{ user.username }}</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="">Tenant<span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{% url 'signOut' %}">SignOut</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<body style="color:lightblue">
		<div class="container">
			<div class="jumbotron">
				<center style="color:lightblue; font-size: 2rem">Choose your house location</center><br>
				<form method="POST">
					{% csrf_token %}
				  <div class="form-group">
				    <label for="city">City</label>
				    <select name="city" class="myform-control" id="city">
				      {% for city in cities %}
				      <option>{{city}}</option>
				      {% endfor %}
				    </select>
				  </div>
				  <center>
						<button class="btn" type="submit" style="color:lightblue">Search</button>
					</center>
				</form>
			</div>
		</div>
		{% if props %}
		<div style="width: 100%">
			<div class="jumbotron">
				<div class="table-responsive">
				  <table class="table table-bordered" style="color:lightblue;">
				    <thead>
				    	<tr>
					    	<th><center>Property</center></th>
					    	<th><center>State</center></th>
					    	<th><center>City</center></th>
				    	</tr>
				    </thead>
				    <tbody>
				    	{% for prop in props %}
			    		<tr>
				    		<td>
				    			<center>
				    			<a href="{% url 'propPage' prop.id %}">{{ prop.name }}</a>
					    		</center>
					    	</td>
				    		<td><center>{{ prop.state }}</center></td>
				    		<td><center>{{ prop.city }}</center></td>
				    	</tr>
				    	{% endfor %}
				    </tbody>
				  </table>
				</div>
			</div> 
		</div>
		{% endif %}
	</body>
</html>